# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode related (somente arquivos que não são essenciais)
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/*.code-workspace

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/ios/Flutter/Flutter.framework/
/ios/Flutter/Flutter.podspec

# CocoaPods related files
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related (inclui artefatos gerados pelo Android Studio e Gradle)
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/**/local.properties
**/android/**/app/debug
**/android/**/app/profile
**/android/**/app/release

# Firebase related
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Package config
.packages
